<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.CartMapper">
	
	<insert id="insert" parameterType="Cart">
		INSERT INTO cart(id, p_num, cnt) VALUES (#{id}, #{p_num}, #{cnt})
	</insert>
	<delete id="delete" parameterType="Integer">
		DELETE FROM cart WHERE cart_num=#{cart_num}
	</delete>
	
	<update id="update" parameterType="Cart">
		UPDATE cart SET cnt=#{cnt} WHERE id=#{id} and p_num=#{p_num}
	</update>
	
	<select id="select" parameterType="Integer" resultType="Cart">
		SELECT id, p_num, cnt FROM cart WHERE cart_num = #{cart_num};
	</select>
	
	<select id="selectall" resultType="Cart">
		SELECT * FROM cart
	</select>
</mapper>
