<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.Order_DetailMapper">	
	<select id="select" parameterType="Integer" resultType="Order_Detail">
		SELECT * FROM orderr_detail WHERE od_num=#{od_num}
	</select>
	<select id="selectall" resultType="Order_Detail">
		SELECT * FROM orderr_detail
	</select>
	<insert id="insert" parameterType="Order_Detail">
		INSERT INTO orderr_detail VALUES (#{od_num}, #{order_num},#{p_num},#{cnt})
	</insert>
	<update id="update" parameterType="Order_Detail">
		UPDATE orderr_detail SET cnt=#{cnt} WHERE od_num=#{od_num}
	</update>
	<delete id="delete" parameterType="Integer">
		DELETE FROM orderr_detail WHERE od_num=#{od_num}
	</delete>
	
	<select id="selectdetail" parameterType="String" resultType="Order_Detail">
		SELECT  od.order_num AS "order_num", od.p_num AS "p_num", p.p_name AS "p_name", od.cnt AS "cnt", (p.p_price*od.cnt) AS "total_price"
		FROM orderr_detail od
		INNER JOIN orderr o ON o.order_num = od.order_num
		INNER JOIN product p ON p.p_num = od.p_num
		INNER JOIN user u ON u.id = o.id
		where o.id LIKE #{order_id}
	</select>
	
</mapper>